*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


.navbar {
    background-color: black !important;
    border-bottom: 1px solid rgb(62, 62, 62);

}

.nav-link:hover {
    color: red rgb(79, 79, 79) !important;
    border-bottom: 1px solid lightgray;
    transition: .7s;
}

.req-btn a {
    text-decoration: none;
    color: white;
}

.req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: .4s;
}


/* Header */
.head h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif !important;
}
/* Header */


/* PARALLAX */
.parallax {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect {
    height: 45vh;
    background-image: url('/img/group-afro-americans-working-together.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax-2 {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect-2 {
    height: 45vh;
    background-image: url('/img/our-mission.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax-3 {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect-3 {
    height: 45vh;
    background-image: url('/img/network.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax-4 {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect-4 {
    height: 45vh;
    background-image: url('/img/panic-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax-5 {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect-5 {
    height: 45vh;
    background-image: url('/img/cloud-comp.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax-6 {
    height: 45vh;
    background-color: black;
    position: relative;
}

.parallax-effect-6 {
    height: 45vh;
    background-image: url('/img/engagement.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}



/* PARALLAX */




.aboutus-head h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}


.aboutus-head p {
    font-size: 18px;
    text-align: justify;
    line-height: 40px;
}
















.footer {
    background-color: black;
}

.footer a{
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.footer a:hover{
    color: red !important;
}


.socials a {
    text-decoration: none;
    cursor: pointer;
}

.socials #linkedin:hover {
    color: #0077b5 !important;
}

.socials #instagram:hover {
    color: #E1306C !important;
}

.socials #twitter:hover {
    color: grey !important;
}
